<script lang="ts">
import { mdiTableChair } from "@mdi/js";

export default {
  data() {
    return {
      Table: [
        {
          name: "T01",
          guests: 4,
        },
        {
          name: "T02",
          guests: 2,
        },
        {
          name: "T03",
          guests: 2,
        },
        {
          name: "T04",
          guests: 6,
        },
        {
          name: "T05",
          guests: 2,
        },
        {
          name: "T06",
          guests: 4,
        },
        {
          name: "T07",
          guests: 6,
        },
        {
          name: "T08",
          guests: 2,
        },
        {
          name: "T09",
          guests: 6,
        },
        {
          name: "T10",
          guests: 4,
        },
        {
          name: "T11",
          guests: 4,
        },
        {
          name: "T12",
          guests: 6,
        },
      ],
      mdiTableChair: mdiTableChair,
      showDialog: false,
    };
  },
};
</script>

<template>
  <v-container>
    <v-row>
      <v-icon
        :icon="mdiTableChair"
        size="large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Table status</h1>
    </v-row>
  </v-container>
  <v-item-group>
    <v-container>
      <v-row>
        <v-col cols="12" md="4" v-for="item in Table" :key="item.name">
          <v-item v-slot="{ isSelected, toggle }">
            <v-card
              :color="isSelected ? '#fa9c18' : '#00ff7f'"
              class="d-flex align-center"
              height="300"
              @click="
                showDialog = true;
                toggle();
              "
            >
              <v-card-text class="text-center">
                <text>Table: {{ item.name }}</text>
                <br />
                <br />
                <br />
                <br />
                <p>Guests: {{ item.guests }}</p>
                <div></div>
              </v-card-text>
            </v-card>
          </v-item>
        </v-col>
      </v-row>
    </v-container>
    <v-container>
      <v-dialog v-model="showDialog" persistent overlay-opacity="0">
        <v-card class="align-center" height="auto">
          <v-card-text>ต้องการเปิดโต๊ะใช่ไหม</v-card-text>
          <v-card-actions class="ml-auto">
            <v-btn
              color="red-darken-1"
              variant="tonal"
              @click="showDialog = false"
            >
              No
            </v-btn>
            <v-btn
              color="green-darken-1"
              variant="tonal"
              @click="showDialog = false"
            >
              Yes
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog></v-container
    >
  </v-item-group>
</template>

<style>
text {
  font-size: 50px;
  text-align: center;
}
p {
  font-size: 20px;
}
</style>
