<script setup lang="ts"></script>

<template>
  <v-window>
    <v-window-item :value="1">
      <v-container class="overflow-x-auto-auto">
        <v-row no-gutters>
          <v-col>
            <h3>Order</h3>
          </v-col>
          <v-col cols="3" offset="3">
            <v-row>
              <h4>ID 10</h4>
            </v-row>
            <v-row> <h5>Table No.1</h5> </v-row>
            <v-row> <h5>Date 10/02/2022</h5> </v-row>
          </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-row>
          <v-col>
            <v-card class="card-frame" height="auto">
              <v-row>
                <v-col>
                  <v-card-item>
                    <h4>Somtam</h4>
                    <h5>Time</h5>
                    <h5>Amount</h5>
                  </v-card-item>
                </v-col>
                <v-col cols="5">
                  <v-card-item>
                    <h4>100</h4>
                    <h5>10:00</h5>
                    <h5>1</h5>
                  </v-card-item>
                </v-col>
              </v-row>
            </v-card>
            <br />
            <v-card class="card-frame" height="auto">
              <v-row>
                <v-col>
                  <v-card-item>
                    <h4>Water</h4>
                    <h5>Time</h5>
                    <h5>Amount</h5>
                  </v-card-item>
                </v-col>
                <v-col cols="5">
                  <v-card-item>
                    <h4>10</h4>
                    <h5>10:00</h5>
                    <h5>1</h5>
                  </v-card-item>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-container grid-list-xs>
        <v-card height="auto">
          <v-row>
            <v-col>
              <v-card-item>
                <h4>Subtotal</h4>
                <h4>Tax</h4>
                <h4>Discount</h4>
              </v-card-item>
            </v-col>
            <v-col cols="5">
              <v-card-item>
                <h3>110</h3>
                <h4>0</h4>
                <h4>0</h4>
              </v-card-item>
            </v-col>
          </v-row>
          <hr />
          <v-row>
            <v-col>
              <v-card-item>
                <h4>Total</h4>
              </v-card-item>
            </v-col>
            <v-col cols="5">
              <v-card-item>
                <h3>110</h3>
              </v-card-item>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-window-item>

    <v-window-item :value="2">
      <v-container class="overflow-x-auto-auto">
        <v-row no-gutters>
          <v-col>
            <h3>Order</h3>
          </v-col>
          <v-col cols="3" offset="3">
            <v-row>
              <h4>ID 10</h4>
            </v-row>
            <v-row> <h5>Table No.1</h5> </v-row>
            <v-row> <h5>Date 10/02/2022</h5> </v-row>
          </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-row>
          <v-col>
            <v-card class="card-frame" height="auto">
              <v-row>
                <v-col>
                  <v-card-item>
                    <h4>Somtam</h4>
                    <h5>Time</h5>
                    <h5>Amount</h5>
                  </v-card-item>
                </v-col>
                <v-col cols="5">
                  <v-card-item>
                    <h4>100</h4>
                    <h5>10:00</h5>
                    <h5>1</h5>
                  </v-card-item>
                </v-col>
              </v-row>
            </v-card>
            <br />
            <v-card class="card-frame" height="auto">
              <v-row>
                <v-col>
                  <v-card-item>
                    <h4>Water</h4>
                    <h5>Time</h5>
                    <h5>Amount</h5>
                  </v-card-item>
                </v-col>
                <v-col cols="5">
                  <v-card-item>
                    <h4>10</h4>
                    <h5>10:00</h5>
                    <h5>1</h5>
                  </v-card-item>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-container grid-list-xs>
        <v-card height="auto">
          <v-row>
            <v-col>
              <v-card-item>
                <h4>Subtotal</h4>
                <h4>Tax</h4>
                <h4>Discount</h4>
              </v-card-item>
            </v-col>
            <v-col cols="5">
              <v-card-item>
                <h3>110</h3>
                <h4>0</h4>
                <h4>0</h4>
              </v-card-item>
            </v-col>
          </v-row>
          <hr />
          <v-row>
            <v-col>
              <v-card-item>
                <h4>Total</h4>
              </v-card-item>
            </v-col>
            <v-col cols="5">
              <v-card-item>
                <h3>110</h3>
              </v-card-item>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-window-item>
    <v-window-item :value="3">
      <v-container class="overflow-x-auto-auto">
        <v-row no-gutters>
          <v-col>
            <h3>Order</h3>
          </v-col>
          <v-col cols="3" offset="3">
            <v-row>
              <h4>ID 10</h4>
            </v-row>
            <v-row> <h5>Table No.1</h5> </v-row>
            <v-row> <h5>Date 10/02/2022</h5> </v-row>
          </v-col>
        </v-row>
      </v-container>
      <v-container>
        <v-row>
          <v-col>
            <v-card class="card-frame" height="auto">
              <v-row>
                <v-col>
                  <v-card-item>
                    <h4>Somtam</h4>
                    <h5>Time</h5>
                    <h5>Amount</h5>
                  </v-card-item>
                </v-col>
                <v-col cols="5">
                  <v-card-item>
                    <h4>100</h4>
                    <h5>10:00</h5>
                    <h5>1</h5>
                  </v-card-item>
                </v-col>
              </v-row>
            </v-card>
            <br />
            <v-card class="card-frame" height="auto">
              <v-row>
                <v-col>
                  <v-card-item>
                    <h4>Water</h4>
                    <h5>Time</h5>
                    <h5>Amount</h5>
                  </v-card-item>
                </v-col>
                <v-col cols="5">
                  <v-card-item>
                    <h4>10</h4>
                    <h5>10:00</h5>
                    <h5>1</h5>
                  </v-card-item>
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-container grid-list-xs>
        <v-card height="auto">
          <v-row>
            <v-col>
              <v-card-item>
                <h4>Subtotal</h4>
                <h4>Tax</h4>
                <h4>Discount</h4>
              </v-card-item>
            </v-col>
            <v-col cols="5">
              <v-card-item>
                <h3>110</h3>
                <h4>0</h4>
                <h4>0</h4>
              </v-card-item>
            </v-col>
          </v-row>
          <hr />
          <v-row>
            <v-col>
              <v-card-item>
                <h4>Total</h4>
              </v-card-item>
            </v-col>
            <v-col cols="5">
              <v-card-item>
                <h3>110</h3>
              </v-card-item>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-window-item>
  </v-window>
</template>
