<script setup lang="ts">
import { mdiCurrencyUsd } from "@mdi/js";
import { ref } from "vue";
import PaymentWindow from "./PaymentWindow.vue";

// const deleteTable = (id: number): void => {
//   //findId
//   const index = tableList.value.findIndex((item) => item.id === id);
//   //delete by splice
//   tableList.value.splice(index, 1);
// };
</script>

<template>
  <v-container>
    <v-card>
      <v-card-actions>
        <v-btn variant="text"> Back </v-btn>
      </v-card-actions>
      <v-card-title class="text-h6 font-weight-regular justify-space-between">
        <v-row>
          <v-icon :icon="mdiCurrencyUsd" size="30px" class="mt-2 ml-3"></v-icon>
          <h4 class="align-self-center">Payment</h4>
        </v-row>
      </v-card-title>
      <PaymentWindow />

      <v-divider></v-divider>
    </v-card>
  </v-container>
  <v-footer class="d-flex justify-space-around">
    <v-btn color="success" width="100%">Proceed</v-btn>
  </v-footer>
</template>

<style scoped></style>
