<script setup lang="ts">
import {
  mdiWeatherSunny,
  mdiWeatherRainy,
  // mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiAccount,
  mdiListBox,
  mdiMenu,
  mdiClipboardList,
  mdiCurrencyUsd,
  mdiSilverwareClean,
  mdiTableChair,
} from "@mdi/js";
import { ref } from "vue";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();

const theme = ref("light");
function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
const logout = () => {
  loginStore.logout();
};
</script>
<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherRainy"
        @click="onClick"
        >Toggle Theme</v-btn
      >
      <v-btn @click="logout">Logout</v-btn>
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          :title="loginStore.loginName"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiAccount"
          title="Users"
          value="users"
          to="/user"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="Point Of Sell"
          value="pos"
          to="/pointOfSell"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiListBox"
          title="Food Queue Management"
          value="foodQueue"
          to="/foodQueue"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiMenu"
          title="Menu Management"
          value="menu_manage"
          to="/menu_manage"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiClipboardList"
          title="Serving"
          value="servingQueue"
          to="/serveQueue"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiSilverwareClean"
          title="Clear Table"
          value="clearTable"
          to="/clearTable"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiTableChair"
          title="Table Status"
          value="tableStatus"
          to="/tableStatus"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiTableChair"
          title="Table Management"
          value="TableManagement"
          to="/TableManagementList"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiCurrencyUsd"
          title="Payment"
          value="payment"
          to="/payment"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container><router-view></router-view></v-container>
    </v-main>
  </v-app>
</template>
