<script setup lang="ts">
import { useFoodQueueStore } from "@/stores/foodQueue";
import { mdiCheckboxMarkedCircle, mdiCancel } from "@mdi/js";
const foodQueueStore = useFoodQueueStore();

const denyQueueQueue = (): void => {
  foodQueueStore.denyQueue();
};

const close = () => {
  foodQueueStore.showDeleteDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="foodQueueStore.showDeleteDialog"
      persistent
      max-width="1000"
      width="max-content"
    >
      <v-card>
        <v-card-title class="text-h5 font-weight-bold">
          Deny Queue
        </v-card-title>
        <v-card-text class="font-weight-bold"
          >Are you sure to deny this queue ?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            variant="tonal"
            :prepend-icon="mdiCancel"
            color="red"
            class="font-weight-bold ma-1"
            @click="close"
          >
            No
          </v-btn>
          <v-btn
            variant="tonal"
            :prepend-icon="mdiCheckboxMarkedCircle"
            color="green"
            class="font-weight-bold ma-1"
            @click="denyQueueQueue()"
          >
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style scoped>
.v-card-title {
  background-color: rgb(191, 191, 191);
}
</style>
