<script setup lang="ts">
import { useFoodQueueStore } from "@/stores/foodQueue";
import {
  mdiCheckboxMarkedCircle,
  mdiCancel,
  mdiFood,
  mdiMagnify,
} from "@mdi/js";

const foodQueueStore = useFoodQueueStore();

const acceptQueue = (index: number): void => {
  foodQueueStore.acceptQueue(index);
};

const queueStatus = (index: number): string => {
  return foodQueueStore.queueStatus(index);
};

const deleteConfirm = (index: number) => {
  foodQueueStore.deleteConfirm(index);
};
</script>

<template>
  <v-container>
    <v-row
      ><v-icon :icon="mdiFood" size="large" class="mr-6 mt-2 ml-3"></v-icon>
      <h1 style="font-family: ">Food Queue</h1>
    </v-row>
  </v-container>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          density="comfortable"
          variant="outlined"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
        ></v-text-field
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-table>
          <thead class="justify-space-between">
            <tr style="height: 50px">
              <th class="font-weight-bold text-h6" style="text-align: center">
                Order No.
              </th>
              <th class="font-weight-bold text-h6" style="text-align: center">
                Table No.
              </th>
              <th class="font-weight-bold text-h6" style="text-align: center">
                Customer Name
              </th>
              <th class="font-weight-bold text-h6" style="text-align: center">
                Food List
              </th>
              <th class="font-weight-bold text-h6" style="text-align: center">
                Date Time
              </th>
              <th class="font-weight-bold text-h6" style="text-align: center">
                Order Status
              </th>
              <th style="text-align: center"></th>
            </tr>
          </thead>

          <tbody>
            <tr
              v-for="item of foodQueueStore.foodQueues"
              :key="item.orderNumber"
            >
              <td class="font-weight-bold text-subtitle-1">
                {{ item.orderNumber }}
              </td>
              <td class="font-weight-bold text-subtitle-1">
                {{ item.tableNumber }}
              </td>
              <td class="font-weight-bold text-subtitle-1">
                {{ item.customerName }}
              </td>

              <v-menu transition="scroll-x-transition">
                <template v-slot:activator="{ props }">
                  <td
                    v-bind="props"
                    v-if="item.foodList.length == 1"
                    class="font-weight-bold text-subtitle-1"
                  >
                    {{ item.foodList[0] }}
                  </td>
                  <td v-bind="props" v-if="item.foodList.length > 1">
                    <p class="font-weight-bold text-subtitle-1">
                      {{ item.foodList[0] }}
                    </p>
                    <p class="text-caption" style="color: rgb(87, 87, 87)">
                      And another {{ item.foodList.length - 1 }}
                    </p>
                  </td>
                </template>
                <v-list>
                  <v-list-item v-for="n in item.foodList.length" :key="n" link>
                    <v-list-item-title
                      class="text-subtitle-1 font-weight-bold"
                      style="text-align: center"
                      >{{ item.foodList[n - 1] }}</v-list-item-title
                    >
                    <v-table>
                      <tr>
                        <td align="center">
                          <v-btn
                            variant="tonal"
                            :prepend-icon="mdiCancel"
                            color="red"
                            class="font-weight-bold ma-2 text-subtitle-1"
                            style="width: 40%"
                          >
                            Deny
                          </v-btn>
                          <v-btn
                            variant="tonal"
                            :prepend-icon="mdiCheckboxMarkedCircle"
                            color="green"
                            class="font-weight-bold ma-2 text-subtitle-1"
                            style="width: 40%"
                          >
                            Accept
                          </v-btn>
                        </td>
                      </tr>
                    </v-table>
                  </v-list-item>
                </v-list>
              </v-menu>
              <!--                 <v-table>
                  <tr>
                    <td class="font-weight-bold">{{ item.foodList[0] }}</td>
                  </tr>
                  <tr v-if="item.foodList.length > 1">
                    <v-tooltip :text="item.foodList.join(' , ')">
                      <template v-slot:activator="{ props }">
                        <td v-bind="props">
                          And another {{ item.foodList.length - 1 }}
                        </td>
                      </template>
                    </v-tooltip>
                  </tr>
                </v-table> -->

              <td class="font-weight-bold text-subtitle-1">
                {{ item.dateTime }}
              </td>
              <td>
                <v-btn
                  variant="outlined"
                  class="font-weight-bold text-subtitle-1"
                  color="success"
                  v-show="queueStatus(item.orderNumber) === 'Accepted'"
                  :ripple="false"
                  style="width: 75%"
                >
                  {{ item.orderStatus }}
                </v-btn>
                <v-btn
                  variant="outlined"
                  class="font-weight-bold text-subtitle-1"
                  color="warning"
                  v-show="queueStatus(item.orderNumber) === 'Pending'"
                  :ripple="false"
                  style="width: 75%"
                >
                  {{ item.orderStatus }}
                </v-btn>
                <v-btn
                  variant="outlined"
                  class="font-weight-bold text-subtitle-1"
                  color="error"
                  v-show="queueStatus(item.orderNumber) === 'Cancelled'"
                  :ripple="false"
                  style="width: 75%"
                >
                  {{ item.orderStatus }}
                </v-btn>
              </td>
              <td align="center">
                <v-btn
                  variant="tonal"
                  :prepend-icon="mdiCancel"
                  color="red"
                  @click="deleteConfirm(item.orderNumber)"
                  class="font-weight-bold ma-2 text-subtitle-1"
                  v-show="queueStatus(item.orderNumber) === 'Pending'"
                  style="width: 40%"
                >
                  Deny
                </v-btn>
                <v-btn
                  variant="tonal"
                  :prepend-icon="mdiCheckboxMarkedCircle"
                  color="green"
                  class="font-weight-bold ma-2 text-subtitle-1"
                  @click="acceptQueue(item.orderNumber)"
                  v-show="queueStatus(item.orderNumber) === 'Pending'"
                  style="width: 40%"
                >
                  Accept
                </v-btn>
                <v-btn
                  variant="tonal"
                  :prepend-icon="mdiFood"
                  color="green"
                  class="font-weight-bold ma-1 text-subtitle-1"
                  v-show="queueStatus(item.orderNumber) === 'Accepted'"
                  style="width: 84%"
                >
                  Mark As Completed
                </v-btn>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.v-table {
  /* background-color: rgb(242, 242, 242); */
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}

tr,
td {
  text-align: center;
}

/* th {
  background-color: rgb(191, 191, 191);
} */

.v-text-field {
  width: 25%;
}
</style>
