<script setup lang="ts">
import QueueList from "../QueueManagement/QueueList.vue";
import DenyQueueDialog from "./DenyQueueDialog.vue";
</script>

<template>
  <v-container>
    <v-row>
      <QueueList></QueueList>
      <DenyQueueDialog></DenyQueueDialog>
    </v-row>
  </v-container>
</template>

<style scoped></style>
