<script setup lang="ts"></script>

<template>
  <v-container>
    <v-row class="elevation-5"
      ><v-col cols="8" style="background-color: rgb(234, 234, 234)">
        <v-container>
          <v-row>
            <h1></h1>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field
                class="ma-3"
                density="comfortable"
                variant="outlined"
                label="Search"
                single-line
                hide-details
                style="width: 50%; background-color: white"
              ></v-text-field
            ></v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-table style="max-height: 530px" class="scrollable">
                <tr
                  v-for="i in 5"
                  :key="i"
                  style="background-color: rgb(234, 234, 234)"
                >
                  <td
                    class="font-weight-bold text-subtitle-1"
                    v-for="j in 3"
                    :key="j"
                  >
                    <v-card class="ma-3" max-width="344">
                      <v-img
                        src="https://www.themanual.com/wp-content/uploads/sites/9/2021/11/thai-gai-yang-chicken.jpg?fit=800%2C800&p=1"
                        height="200px"
                        cover
                      ></v-img>
                      <v-card-title style="color: rgb(35, 59, 77)">
                        FOOD {{ i }}{{ j }}
                      </v-card-title>
                      <v-card-subtitle style="color: rgb(159, 175, 186)">
                        {{ 5 + i * j }}฿
                      </v-card-subtitle>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn
                          variant="tonal"
                          color="gray"
                          class="font-weight-bold ma-1"
                          size="30"
                        >
                          -
                        </v-btn>
                        <v-btn
                          variant="tonal"
                          color="gray"
                          class="font-weight-bold ma-1"
                          size="30"
                          :ripple="false"
                          :disabled="true"
                          >0</v-btn
                        >

                        <v-btn
                          variant="tonal"
                          color="gray"
                          class="font-weight-bold ma-1"
                          size="30"
                        >
                          +
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </td>
                </tr>
              </v-table>
            </v-col>
          </v-row>
        </v-container></v-col
      >
      <v-col style="background-color: rgb(0, 0, 0)"
        ><v-card
          class="ma-3"
          max-width="344"
          style="height: 50%; width: 100%; background-color: rgb(31, 31, 31)"
        >
          <v-card-title style="color: rgb(255, 255, 255)">
            Table No. ?
          </v-card-title>
          <v-card-subtitle style="color: rgb(117, 117, 117)">
            Alpha Beta
          </v-card-subtitle>
        </v-card>
        <v-card
          class="ma-3"
          max-width="344"
          style="height: 45%; width: 100%; background-color: rgb(31, 31, 31)"
        >
          <v-card-title style="color: rgb(255, 255, 255)">
            Details
          </v-card-title>
          <br />
          <v-card-subtitle style="color: rgb(117, 117, 117)">
            Subtotal
          </v-card-subtitle>
          <br />
          <v-card-subtitle style="color: rgb(117, 117, 117)">
            Tax
          </v-card-subtitle>
          <br />
          <v-card-title style="color: rgb(255, 255, 255)"> Total </v-card-title>
          <br />
          <p style="text-align: center">
            <v-btn style="width: 75%; height: 40px; color: black">
              Place order
            </v-btn>
          </p>
        </v-card></v-col
      >
    </v-row>
  </v-container>
</template>

<style scoped>
.scrollable {
  overflow-y: scroll;
}
</style>
