<script setup lang="ts">
import { mdiCheck } from "@mdi/js";
import { ref } from "vue";
import { mdiClipboardList } from "@mdi/js";
import { useFoodQueueStore } from "@/stores/foodQueue";
const foodQueueStore = useFoodQueueStore();
let isShow = ref(false);
let checkArray: number[] = [];
const isCheck = (id: number) => {
  if (checkArray.includes(id)) {
    const index = checkArray.findIndex((item) => item === id);
    checkArray.splice(index, 1);
    if (checkArray.length == 0) {
      isShow.value = false;
    }
  } else {
    isShow.value = true;
    checkArray.push(id);
  }
  console.log(checkArray);
};

const serveList = ref([
  { id: 1, table: "T01", foodName: "Som Tam", checked: false, status: "ready" },
  { id: 2, table: "T01", foodName: "Laab", checked: false, status: "ready" },
  {
    id: 3,
    table: "T02",
    foodName: "Khao Niao",
    checked: false,
    status: "cooking",
  },
  {
    id: 4,
    table: "T02",
    foodName: "Gai Yang",
    checked: false,
    status: "ready",
  },
  {
    id: 5,
    table: "T02",
    foodName: "Som Tam",
    checked: false,
    status: "cooking",
  },
  {
    id: 6,
    table: "T02",
    foodName: "Som Tam",
    checked: false,
    status: "cooking",
  },
]);
const showDialog = ref(false);

function removeServeFood() {
  serveList.value = serveList.value.filter((item) => !item.checked);
  showDialog.value = false;
}
</script>

<template>
  <v-container>
    <v-row
      ><v-icon
        :icon="mdiClipboardList"
        size="large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Serve Queue</h1>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-card height="550px">
          <v-table hover height="550px">
            <thead>
              <tr>
                <th
                  class="text-align-center font-weight-bold text-subtitle-1"
                ></th>
                <th class="text-left font-weight-bold text-subtitle-1">
                  Table
                </th>
                <th class="text-left font-weight-bold text-subtitle-1">
                  Food Name
                </th>
                <th class="text-left font-weight-bold text-subtitle-1">
                  Status
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of serveList" :key="item.id" height="100">
                <td width="5%">
                  <input
                    type="checkbox"
                    v-model="item.checked"
                    style="height: 20px; width: 20px; vertical-align: middle"
                    :disabled="!(item.status === 'ready')"
                    @click="isCheck(item.id)"
                  />
                </td>
                <td class="text-h6">
                  {{ item.table }}
                </td>
                <td class="text-h6">
                  {{ item.foodName }}
                </td>
                <td width="20%">
                  <v-badge
                    :content="
                      item.status === 'ready'
                        ? 'สถานะ:พร้อมเสิร์ฟ'
                        : 'สถานะ:กำลังปรุง'
                    "
                    :color="item.status === 'ready' ? 'green' : 'blue'"
                    inline
                    vertical-align:
                    middle
                  ></v-badge>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="3" offset="11">
        <v-btn
          color="primary"
          :prepend-icon="mdiCheck"
          size="large"
          @click="showDialog = true"
          :disabled="!isShow"
          ><v-dialog persistent max-width="500px" v-model="showDialog">
            <v-card>
              <v-card-title class="text-h5 font-weight-bold justify-center">
                Confirm Serving
              </v-card-title>
              <v-card-actions class="justify-end">
                <v-btn color="red" @click="showDialog = false" variant="tonal"
                  >NO</v-btn
                >
                <v-btn color="green" @click="removeServeFood" variant="tonal"
                  >YES</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
          Serve</v-btn
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
th {
  background-color: darkgray;
}
</style>
