<script setup lang="ts">
import MenuList from "./MenuList.vue";
import MenuAdd from "./MenuAdd.vue";
import MenuDeleteDialog from "./MenuDeleteDialog.vue";
</script>

<template>
  <MenuList></MenuList>
  <MenuDeleteDialog></MenuDeleteDialog>
</template>

<style scoped></style>
