<script setup lang="ts">
import { ref } from "vue";
import type Menu from "@/types/Menu";
import { useMenuStore } from "@/stores/menu";
import {
  mdiPencil,
  mdiDelete,
  mdiMagnify,
  mdiPlus,
  mdiListBoxOutline,
  mdiVuetify,
} from "@mdi/js";

const menuStore = useMenuStore();
const searchQuery = ref("");
const addNewMenu = () => {};
const editMenu = (index: Menu): void => {
  menuStore.editMenu(index);
};

const deleteMenu = (index: number): void => {
  menuStore.deleteConfirm(index);
};
</script>

<template>
  <!-- <v-breadcrumbs>
    <template v-slot:prepend>
      <v-icon size="small" :icon="mdiVuetify"></v-icon>
    </template>
  </v-breadcrumbs> -->
  <v-container>
    <v-row
      ><v-icon
        :icon="mdiListBoxOutline"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Menu Management</h1></v-row
    >
  </v-container>

  <v-card class="card-frame" height="550px">
    <v-row align="center" no-gutters>
      <v-col>
        <v-sheet>
          <v-btn
            class="add-btn"
            color="green"
            :prepend-icon="mdiPlus"
            to="menuAdd"
            >add</v-btn
          >
        </v-sheet></v-col
      >
      <v-col>
        <v-text-field
          v-model="searchQuery"
          class="text-end search-field"
          density="compact"
          variant="solo"
          label="Search"
          :append-inner-icon="mdiMagnify"
          single-line
          hide-details
        ></v-text-field></v-col
      ><v-col>
        <v-select
          class="search-field"
          density="compact"
          variant="solo"
          label="Select"
          :items="[
            'All',
            'Northern food',
            'Isaan food',
            'Thai food',
            'Southern food',
          ]"
          single-line
          hide-details
        ></v-select
      ></v-col>
    </v-row>
    <v-divider></v-divider>
    <v-table fixed-header height="450" hover>
      <thead>
        <tr>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Image
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Name
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Category
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Price
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Status
          </th>
          <th
            class="text-center font-weight-bold text-subtitle-1"
            style="background-color: darkgray"
          >
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item of menuStore.menu" :key="item.id" class="text-center">
          <td class="text-center">
            <v-img :src="item.img" class="pa-5"></v-img>
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.category }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.status }}</td>
          <td class="pa-5 justify-end">
            <v-btn
              class="edit-btn"
              variant="tonal"
              size="x-small"
              color="orange darken-4"
              :icon="mdiPencil"
              @click="editMenu(item)"
            ></v-btn>
            <v-btn
              size="x-small"
              variant="tonal"
              color="error"
              :icon="mdiDelete"
              @click="deleteMenu(item.id)"
            ></v-btn>
          </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<style scoped>
* {
  margin: 0;
  padding: 0;
}

.card-frame {
  padding: 10px;
  height: max-content;
}
.edit-btn {
  margin-right: 10px;
}
.add-btn {
  width: 120px;
  height: 40px;
  padding: 5px;
  margin: 15px;
}
.search-field {
  width: 250px;
}
</style>
