<script setup lang="ts">
import { mdiCamera, mdiPlus } from "@mdi/js";
import { ref } from "vue";

// export interface List{
//   name: string[]
// }

// const list = defineProps<List>(),{
//   name:
// }
</script>

<template>
  <v-breadcrumbs>
    <template v-slot:prepend>
      <!-- <v-icon size="small" :icon="mdiVuetify"></v-icon> -->
    </template>
  </v-breadcrumbs>
  <v-container>
    <v-row>
      <v-icon :icon="mdiPlus" size="x-large" class="mr-6 mt-2 ml-3"></v-icon>
      <h1>Add new Menu</h1>
    </v-row>
  </v-container>
  <v-card height="max-content" class="pa-15 frame-container">
    <v-row>
      <v-col cols="3" class="text-size">Name</v-col>
      <v-col cols="4"
        ><v-text-field
          name="name"
          density="compact"
          variant="solo"
        ></v-text-field
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="3" class="text-size">Description</v-col>
      <v-col cols="9"
        ><v-textarea name="name" density="compact" variant="solo"></v-textarea
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="3" class="text-size">Category</v-col>
      <v-col cols="4"
        ><v-select name="name" density="compact" variant="solo"></v-select
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="3" class="text-size">Set different sizes</v-col>
      <v-col cols="9"
        ><v-redio-group inline
          ><v-radio label="Yes" value="1"></v-radio>
          <v-radio label="No" value="2"></v-radio></v-redio-group
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="3" class="text-size">Price</v-col>
      <v-col cols="2"
        ><v-text-field
          name="name"
          density="compact"
          variant="solo"
        ></v-text-field
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="3" class="text-size">Image</v-col>
      <v-col cols="4">
        <!-- <v-btn color="primary" rounded dark> Upload File </v-btn>
        <input ref="uploader" class="d-none" type="file" accept="image/*" /> -->
        <v-file-input
          label="File input"
          variant="filled"
          :prepend-icon="mdiCamera"
        ></v-file-input>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3" class="text-size">Status</v-col>
      <v-col cols="4"
        ><v-select name="name" density="compact" variant="solo"></v-select
      ></v-col>
    </v-row>
    <v-row>
      <v-col cols="9"></v-col>
      <v-col cols="3"
        ><v-btn class="ma-5" color="green">save</v-btn
        ><v-btn color="red">cancel</v-btn></v-col
      >
    </v-row>
  </v-card>
</template>
<style scope>
.text-size {
  font-size: 18px;
  font-weight: bolder;
}
</style>
