<script setup lang="ts">
import { useMenuStore } from "@/stores/menu";
import { ref } from "vue";
import type { VForm } from "vuetify/components";

const menuStore = useMenuStore();
const form = ref<VForm | null>(null);
const menuDel = (id: number): void => {
  menuStore.deleteMenu(id);
};

const close = () => {
  menuStore.showDeleteDialog = false;
};
</script>

<template>
  <v-row justify="center">
    <v-dialog
      v-model="menuStore.showDeleteDialog"
      persistent
      max-width="500px"
      width="600"
    >
      <v-card>
        <v-card-title primary-title> Confirm for delete menu </v-card-title>
        <v-card-text>Are you sure to delete this menu ?</v-card-text>

        <v-card-actions>
          <v-btn color="red" class="font-weight-bold ma-1" @click="close()">
            No
          </v-btn>
          <v-btn color="green" class="font-weight-bold ma-1" @click="menuDel">
            Yes
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<style></style>
