<script setup lang="ts">
import { mdiTableChair, mdiCheck, mdiSilverwareClean } from "@mdi/js";
import { ref } from "vue";

const tableList = ref([
  { id: 1, table: "Table 1", tableStatus: "Waiting", checked: false },
  { id: 2, table: "Table 2", tableStatus: "Waiting", checked: false },
  { id: 3, table: "Table 3", tableStatus: "Waiting", checked: false },
  { id: 4, table: "Table 4", tableStatus: "Waiting", checked: false },
  { id: 5, table: "Table 5", tableStatus: "Waiting", checked: false },
  { id: 6, table: "Table 6", tableStatus: "Waiting", checked: false },
]);

const deleteTable = (id: number): void => {
  //findId
  const index = tableList.value.findIndex((item) => item.id === id);
  //delete by splice
  tableList.value.splice(index, 1);
};
</script>

<template>
  <v-container>
    <v-row>
      <v-icon
        :icon="mdiSilverwareClean"
        size="x-large"
        class="mr-6 mt-2 ml-3"
      ></v-icon>
      <h1>Tables Cleanning Status</h1>
    </v-row>
  </v-container>
  <v-container>
    <v-card class="card-frame pa-10 overflow-auto" height="550px">
      <v-row>
        <v-col cols="12">
          <v-table>
            <thead>
              <tr>
                <th class="font-weight-bold text-h6">Table No.</th>
                <th class="font-weight-bold text-h6">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item of tableList" :key="item.id">
                <td class="text-sm-h6">
                  {{ item.table }}
                </td>
                <td class="text-sm-h6 text-amber-accent-3">
                  {{ item.tableStatus }}
                </td>
                <td class="text-end pa-5">
                  <v-btn
                    @click="deleteTable(item.id)"
                    class="edit-btn"
                    color="orange darken-4"
                    :icon="mdiCheck"
                  ></v-btn>
                </td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped></style>
